.content-block ul {
    padding: 0;
    margin: 0;
}

.author-buttons {
    display: inline-block;
    float: right;
}

.author-buttons .edit-author-button,
.author-buttons .delete-author-button {
    display: inline-block;
    cursor: pointer;
}

.author-buttons .edit-author-button:hover,
.author-buttons .delete-author-button:hover {
    opacity: 0.8;
}

.author-buttons .delete-author-button a {
    text-decoration: none;
    color: #85A3C2;
}

.add-author-button {
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    text-align: center;
}

.add-author-button:hover {
    opacity: 0.7;
}

.save-add-author {
    float: left;
}

.save-add-author, .cancel-add-author {
    font-size: 22px;
}