    <form method="post" action="{{ url_for('books.add_author_book') }}" name="add_author" class="add-book-author-form">
        {{form.hidden_tag}}
        <p>Choose author:
            <select id="author_id" name="author_id">
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
        </p>

        <p><input type="submit" value="Save" class="save-add-book-author" data-book="{{ book.id }}"></p>
        <p><input type="submit" value="Cancel" class="cancel-add-book-author"></p>
    </form>