{% extends 'base.html' %}

{% block css_content %}
    <link href="{{ url_for('books.static', filename='css/books.css') }}" rel="stylesheet">
{% endblock %}

{% block js_content %}
   <script type="text/javascript">
       Library.data.main.edit_book_url = "{{ url_for('books.edit_book') }}"
       Library.data.main.add_author_book_url = "{{ url_for('books.add_author_book') }}"
       Library.data.main.delete_author_book_url = "{{ url_for('books.delete_author_book') }}"
   </script>
{% endblock %}

{% block content %}
    <div class="title-block">Book: {{ book.title }}
        {% if current_user.is_authenticated() and current_user.role < 2 %}
        <div class="book-buttons">
            <div class="edit-book-button" data-book="{{ book.id }}">Edit</div>
            <div class="delete-book-button"><a href="{{ url_for('books.delete_book', book_id=book.id) }}">Delete</a></div>
        </div>
        {% endif %}
    </div>
    <p>Authors:</p>
    {% for author in book.authors %}
        <div class="author-name-block" data-author="{{ author.id }}">
            {{ author.name }}
            {% if current_user.is_authenticated() and current_user.role < 2 %}
                <div class="delete-book-author-button" data-book="{{ book.id }}" data-author="{{ author.id }}">Delete</div>
            {% endif %}
        </div>
    {% endfor %}

    {% if current_user.is_authenticated() and current_user.role < 2 %}
        <div class="add-book-author-button" data-book="{{ book.id }}">Add author</div>
    {% endif %}

{% endblock %}