{% extends 'base.html' %}

{% block css_content %}
    <link href="{{ url_for('books.static', filename='css/books.css') }}" rel="stylesheet">
{% endblock %}

{% block js_content %}
   <script type="text/javascript">
       Library.data.main.add_book_url = "{{ url_for('books.create_book') }}"
   </script>
{% endblock %}

{% block content %}
<div class="title-block">Books</div>
{% if current_user.is_authenticated() and current_user.role < 2 %}
    <div class="add-book-button">Add book</div>
{% endif %}
{% for book in books %}
    <p>
        <a href="{{ url_for('books.book', book_id=book.id) }}">{{ book.title }}</a>.
        Authors:
        {% for author in book.authors %}
            {{ author.name }},
        {% endfor %}
    </p>
{% endfor %}
{% if not books %}
    <h3>There are no books!</h3>
{% endif %}
{% endblock %}