<form method="post" action="{{ url_for('books.create_book') }}" name="create_book" class="create-book-form">
    {{form.hidden_tag}}
    <p>Enter book title: {{ form.title }}</p>
    {% for error in form.title.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    <p><input type="submit" value="Save" class="save-add-book" data-book="{{ book.id }}"></p>
    <p><input type="submit" value="Cancel" class="cancel-add-book"></p>
</form>