{% extends 'base.html' %}


{% block css_content %}
    <link href="{{ url_for('authors.static', filename='css/author.css') }}" rel="stylesheet">
{% endblock %}

{% block js_content %}
   <script type="text/javascript">
       Library.data.main.add_author_url = "{{ url_for('authors.create_author') }}"
   </script>
{% endblock %}

{% block content %}
    <div class="title-block">Authors</div>
    {% if current_user.is_authenticated() and current_user.role < 2 %}
        <div class="add-author-button">Add author</div>
    {% endif %}
    {% for author in authors %}
        <p><a href="{{ url_for('authors.author', author_id=author.id)}}">{{ author.name }}</a></p>
    {% endfor %}
{% endblock %}