{% extends 'base.html' %}


{% block css_content %}
    <link href="{{ url_for('authors.static', filename='css/author.css') }}" rel="stylesheet">
{% endblock %}

{% block js_content %}
   <script type="text/javascript">
       Library.data.main.edit_author_url = "{{ url_for('authors.edit_author') }}"
   </script>
{% endblock %}

{% block content %}
    <div class="title-block">Author: {{ author.name }}
        {% if current_user.is_authenticated() and current_user.role < 2 %}
            <div class="author-buttons">
                <div class="edit-author-button" data-author="{{ author.id }}">Edit</div>
                <div class="delete-author-button"><a href="{{ url_for('authors.delete_author', author_id=author.id) }}">Delete</a></div>
            </div>
        {% endif %}
    </div>

    <p>Books:</p>
    {% for book in author.books %}
        <p><a href="{{ url_for('books.book', book_id=book.id) }}">{{book.title}}</a></p>
    {% endfor %}
{% endblock %}

