

<form method="post" action="{{ url_for('authors.create_author') }}" name="create_author" class="create-author-form">
    {{form.hidden_tag}}
    <p>Enter author name: {{ form.name }}</p>
    {% for error in form.name.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    <p><input type="submit" value="Save" class="save-add-author" data-author="{{ author.id }}"></p>
    <p><input type="submit" value="Cancel" class="cancel-add-author"></p>
</form>