<!DOCTYPE html>
<head>
    <link href="{{ url_for('users.static', filename='css/main.css') }}" rel="stylesheet">

    <script src="{{ url_for('users.static', filename='js/jquery-2.1.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('users.static', filename='js/main.js') }}" type="text/javascript"></script>

    {% block js_content %}
    {% endblock %}


    {% block css_content %}
    {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="container">
        <ul>
            <li><a href="{{ url_for('users.index') }}">Home</a></li>
            <li><a href="{{ url_for('authors.authors_list') }}">Authors</a></li>
            <li><a href="{{ url_for('books.books_list') }}">Books</a></li>
            {% if current_user.is_authenticated() %}
            <li class="search-block">
                <form action="{{url_for('books.search')}}" method="POST" name="search">
                    {{ g.search_form.search }}
                    <input type="submit" value="Search"></form>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="content-block">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>