{% extends 'base.html' %}

{% block content %}
        {% if current_user.is_authenticated() %}
            Hi {{ current_user.username }}! <div class="logout-user"><a href="{{ url_for('users.logout') }}">Logout</a></div>

            {% if current_user.role == 0 %}
                {% for user in users %}
                    <p>{{ user.username }}, role: {{ user.role }}</p>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>Username: editor</p>
            <p>Password: editor, can create, edit and delete items.</p>
            <p>U: user</p>
            <p>P: user, can read and use search.</p>
            <p>All new users can only read and use search by default.</p>
            <div class="login-block">
                <p>Login:</p>
                <form class="user-form" action="{{ url_for('users.login') }}" method="post">
                    {{ form_login.username }}
                    {% for error in form_login.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    {{ form_login.password }}
                    {% for error in form_login.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    <input type="submit" value="Login" />
                </form>
            </div>
            <div class="signup-block">
                <p>Sign Up</p>
                <form class="user-form" action="{{ url_for('users.create_user') }}" method="post">
                    {{ form.username }}
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    <input type="submit" value="Sing Up" />
                </form>
            </div>
        {% endif %}

{% endblock %}