body {
    color: #85A3C2;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #85A3C2;
    color: #EBF0F5;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 900px;
    margin: 0 auto;
    height: 50px;
}

.navbar .container ul li input[type="submit"] {
    font-size: 22px;
}

.navbar .container ul .search-block {
    float: right;
}

.navbar .container ul {
     display: inline-block;
     list-style-type: none;
     margin: 13px 0;
     padding: 0;
    width: 100%;
}

#search {
    height: 28px;
    width: 300px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
 }

.navbar .container ul li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.navbar .container ul li a {
    color: #EBF0F5;
    text-decoration: none;
}

.navbar .container ul li a:hover {
    opacity: 0.8;
}

.container .content-block {
    font-size: 18px;
    padding: 15px 0;
}

.title-block {
    width: 100%;
    border-bottom: 1px solid;
    font-size: 22px;
}

.user-form #username, .user-form #password, .user-form input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

.user-form #username, .user-form #password {
    border-radius: 5px;
    height: 30px;
    width: 90%;
}

.login-block, .signup-block {
    display: inline-block;
    width: 45%;
    float: left;
}