.add-book-button, .add-book-author-button {
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    text-align: center;
}

.add-book-button:hover, .add-book-author-button:hover {
    opacity: 0.7;
}

.save-add-book, .save-add-book-author {
    float: left;
}

.save-add-book, .cancel-add-book, .save-add-book-author, .cancel-add-book-author {
    font-size: 22px;
}

.book-buttons {
    display: inline-block;
    float: right;
}

.book-buttons .edit-book-button,
.book-buttons .delete-book-button {
    display: inline-block;
    cursor: pointer;
}

.book-buttons .edit-book-button:hover,
.book-buttons .delete-book-button:hover {
    opacity: 0.8;
}

.book-buttons .delete-book-button a {
    text-decoration: none;
    color: #85A3C2;
}

.author-name-block {
    width: 100%;
}

.author-name-block .delete-book-author-button {
    float: right;
    cursor: pointer;
    display: none;
}

.author-name-block .delete-book-author-button:hover {
    opacity: 0.8;
}